.contactUs {
  display: flex !important;
  align-items: center;
  padding: 5vw 0;
  background-color: rgb(36, 32, 25);
  width: 100% !important;
  justify-content: space-evenly;

  .location {
    padding: 0 2vw;
    h2 {
      color: white;
      background: black;
      height: 45px;
      border-radius: 50px;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    .header6 {
      font-size: 34px;
    }

    .bulletList {
      padding: 0 2vw;
      line-height: 1.3 !important;
    }
  }

  .form {
    .header {
      color: white;
      background: black;
      height: 45px;
      border-radius: 50px;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    .form_Data {
      font-size: 15px;
      width: 500px;
    }
    .form_Data_Group1 {
      .form_Data_Group_Field {
        label {
          color: white !important;
        }
      }
    }
    .form_Data_Group2 {
      .form_Data_Group_Field {
        label {
          color: white !important;
        }
      }
    }
    label {
      color: white !important;
    }
    button {
      width: -webkit-fill-available;
      color: white;
      background: black;
      height: 38px;
      border-radius: 50px;
    }
    textarea{
      height: 120px;
    }
  }
}
