.aboutUs {
  display: flex !important;
  align-items: center;
  padding: 2vw 0;
  background-color: #07120e;
  width: 100% !important;
  color: white;

  .description {
    padding: 0 2vw;

    .header6 {
      font-size: 30px;
      color: #feb40b;
    }

    .bulletList {
      line-height: 1.3 !important;
      font-size: 18px;
    }
  }
}