@import "https://unpkg.com/normalize.css";

.gallery {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #07120e;
  text-align: center;

  @media (max-width: 1024px) {
    height: auto;
    text-align: center;
    padding: 4vw;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px !important;
  color: #fec031;
}

.item img {
  padding: 10px;
  border-radius: 15px;
}