.homeContainer {
  background-image: url("../../../assets/image/home/homepage3.jpg");
  background-size: cover;
  height: 50vmax;
  width: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .customHeaderHome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff8100 !important;
    min-width: 71%;
    font-size: 2vw !important;
    text-shadow: 2px 2px #000;
    // background: -webkit-linear-gradient(#fa9c40, #fde585);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}
// h1.ui.header.home_customHeaderHome__8qxrt {
//   color: #ffff !important;
// }
// .ui.header:last-child {
//   margin-bottom: 0;
//   color: white;
// }
